<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
	xml:lang="en">
	<head>            
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="{{ environ.SCRIPT_NAME }}/static/style.css"/>
	</head>
	<body>

    <div id="header">
      <h1>{{ self.title() }}</h1>
    </div>

    {% if message %}
    <div id="message">{{ message }}</div>
    {% endif %}

    <div id="content">
      {% block content %}Place content here.{% endblock %}
    </div>
  </body>
</html>

