{% extends "base.html" %}
{% block title %}SEAS Cloud Account Manager{% endblock %}

{% block content %}
{% filter markdown %}
This web application will let you create and manage your SEAS Cloud
account.  The [SEAS Cloud][] is our prototype implementation of
[OpenStack][], a cloud controller similar in many ways to Amazon's
Elastic Compute (EC2) service.

After selecting one of the buttons below, enter your SEAS username and
password when prompted.

[openstack]: http://www.openstack.org/
[seas cloud]: http://cloud.seas.harvard.edu/
{% endfilter %}

<div class="left block">
  <h2>Create my account</h2>

  <p class="button">
  <a href="{{ request.script_name }}auth/create"><button>Create my SEAS Cloud Account</button></a>
  </p>
</div>

<div class="right block">
  <h2>Manage my account</h2>

  <p class="button">
  <a href="{{ request.script_name }}auth/info"><button>Manage my SEAS Cloud Account</button></a>
  </p>
</div>
{% endblock %}

