body {
	width: 600px !important;
	min-width: 600px !important;
	margin: auto;
}

#header {
	height: 100px;
	background-image: url("{{ environ.SCRIPT_NAME }}/static/logo.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-left: 120px;
}

#message {
	border: thin solid black;
	background: yellow;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex;
}

.label {
	font-weight: bold;
}

table#userinfo {
	font-family: monospace;
}

.left {
	float: left;
}

.right {
	float: right;
}

.block {
	border: thin solid black;
	padding: 2ex;
	background: #c0c0c0;
	width: 40%;
}

.button {
	padding-top: 1ex;
}

