{% extends "base.html" %}
{% block title %}Information for {{ user.name }}{% endblock %}
{% block content %}
{% filter markdown %}
Here are the details for your [SEAS Cloud][] account:

[seas cloud]: http://cloud.seas.harvard.edu/

<table id="userinfo">
  <tr><td class="label">Name</td><td>{{user.name}}</td></tr>
  <tr><td class="label">Email</td><td>{{user.email}}</td></tr>
  <tr><td class="label">Primary tenant</td><td>{{tenant.name}}</td></tr>

  {% if apikey %}
  <tr><td class="label">api key</td><td>{{apikey}}</td></tr>
  {% endif %}
</table>

Use your username and api key {% if not apikey %}(not shown){% endif %} to connect to the
[SEAS Cloud][] web interface.  {% if not apikey %}If you have lost or
forgotten your API key, you may [generate a new API key][apikey].{% else %}Your API key is shown above.{% endif %}

[apikey]: {{ environ.SCRIPT_NAME }}/auth/newkey
{% endfilter %}
{% endblock %}

