{% extends "base.html" %}
{% block title %}Information for {{ user.name }}{% endblock %}
{% block content %}
{% filter markdown %}
Here are the details for your [SEAS Cloud][] account:

<table id="userinfo">
  <tr><td class="label">Name</td><td>{{user.name}}</td></tr>
  <tr><td class="label">Email</td><td>{{user.email}}</td></tr>
  <tr><td class="label">Primary tenant</td><td>{{tenant.name}}</td></tr>

  {% if passwd %}
  <tr><td class="label">Password</td><td>{{passwd}}</td></tr>
  {% endif %}
</table>

{% if passwd %}
Use your username and password (<code>{{passwd}}</code>) to connect to the
[SEAS Cloud][] web interface.
{% else %}
Use your username and password (not shown) to connect to the [SEAS Cloud][] web
interface.

If you have lost your password you may generate a new one:

<a href="{{ environ.SCRIPT_NAME }}/auth/newkey"><button>Generate new password</button></a>
{% endif %}

[seas cloud]: http://cloud.seas.harvard.edu/
{% endfilter %}
{% endblock %}

